.admin-layout {
  display: flex;
  flex-direction:  row;
  background-color: #F5F1EB;
  min-height: 100vh;
 
}

.admin-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-content {
  padding: 20px 30px;
  background-color: #F5F1EB;
}
