 .admin-sidebar {
  width: 250px;
  background-color: #fff;
  min-height: 100vh;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  
 
 
}

.sidebar-logo h2 {
  margin: 0;
  font-size: 24px;
  color: #2C2825;
}

.sidebar-logo span {
  font-size: 12px;
  color: #6B6560;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin-top: 20%;
  color: #2C2825;


 
}

.sidebar-menu li {
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  color: #333;
}

.sidebar-menu li.active,
.sidebar-menu li:hover {
background-color: #6B4B3E;
border-radius: 1.25rem;

  color: #FFFFFF;
}

.sidebar-help {
  text-align: center;
}

.sidebar-help p {
  margin-bottom: 10px;
  color: #666;
}

.sidebar-help button {
  padding: 8px 12px;
  border: none;
  background-color: #5a4fbd;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}
.sidebar-menu li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.sidebar-menu li .icon {
  margin-right: 10px;
  font-size: 18px;
}

