name: Deploy Vite React App to Heroku

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install dependencies
        run: npm install

      - name: Build Vite App
        run: npm run build

      - name: Login to Heroku
        uses: heroku/actions/login@v2
        with:
          email: ${{ secrets.HEROKU_EMAIL }}
          api_key: ${{ secrets.HEROKU_API_KEY }}

      - name: Deploy to Heroku
        uses: heroku/actions/deploy@v2
        with:
          app_name: ${{ secrets.HEROKU_APP_NAME }}
          branch: main
